.like-button {
    /* max-width: 22px;
    width: 100%; */
    width: 22px;
    height: 19px;
    padding: 0;
    cursor: pointer;
    background: url(../../images/like.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    box-shadow: none;
    transition: opacity 0.5s;
    align-self: center;
}

.like-button:hover {
    opacity: 0.6;
}
