@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/body/body.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/main/main.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__image/profile__image.css);
@import url(./blocks/profile/__updateImage/profile__updateImage.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/add-button/add-button.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/edit-button/edit-button.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__photo/element__photo.css);
@import url(./blocks/element/__container/element__container.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/like_container/like_container.css);
@import url(./blocks/element/like_counter/like_counter.css);
@import url(./blocks/like-button/like-button.css);
@import url(./blocks/like-button/_active/like-button_active.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_viewable/popup_viewable.css);
@import url(./blocks/close-button/close-button.css);
@import url(./blocks/popup/__window/popup__window.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/submit-button/submit-button.css);
@import url(./blocks/delete-button/delete-button.css);
@import url(./blocks/delete-button/_hidden/delete-button_hidden.css);
@import url(./blocks/popup/__window-image/popup__window-image.css);
@import url(./blocks/popup/__view/popup__view-image.css);
@import url(./blocks/popup/__figcaption/popup__figcaption.css);
@import url(./blocks/figure/figure.css);
@import url(./blocks/inactive-button/inactive-button.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(./blocks/popup/__window/_type/popup__window_type_confirmation.css);
@import url(./blocks/popup/__title/_type/popup__title_type_confirmation.css);
@import url(./blocks/popup/__title/_type/popup__title_type_infoTooltip.css);
@import url(./blocks/popup/__window/_type/popup__window_type_avatar.css);
@import url(./blocks/name-input-error/name-input-error.css);
@import url(./blocks/profession-input-error/profession-input-error.css);
@import url(./blocks/place-input-error/place-input-error.css);
@import url(./blocks/url-input-error/url-input-error.css);
@import url(./blocks/avatar-input-error/avatar-input-error.css);


@import url(./blocks/auth/auth.css);