.profile {
    position: relative;
    display: flex;
    max-width: 880px;
    margin: 0 auto 51px;
    width: 100%;
    color: #FFFFFF;
    align-items: center;
}


@media (max-width: 1024px) {
    .profile {
        flex-direction: column;
        justify-items: center;
        margin-bottom: 36px;
    }
}