.header {
    width: 100%;
    max-width: 880px;
    border-bottom: 1px solid #545454;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1024px) {
    .header {
        max-width: 581px;
    }
}

@media (max-width: 768px) {
    .header {
        max-width: 320px;
        margin-bottom: 42px;
    }
}