.header__link_container {
  font-size: 18px;
  line-height: 22px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header__link {
  color: white;
  text-decoration: none;
  font-weight: 400;
  transition: opacity 0.5s;
}

.header__link:hover {
  opacity: 0.6;
}

.header__link_email {
  font-weight: 500;
  margin-right: 24px;
}

@media (max-width: 768px) {
  .header__link_email {
    font-size: 10px;
  }
}